/************************* START GLOBALS *************************/
body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    margin: 0;
    color: #666;
}

html {
    box-sizing: border-box;
    background-color: #ffffff;
}

.inline {
    display: inline;
}

#close-modal {
    float: right;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

@media (width: 375px) and (height: 812px) {
    .container {
        width: 80%;
        max-width: 100%;
        margin: 0 10px;
        position: relative;
    }
}

a {
    outline: 0;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 90%;
}

label {
    margin-bottom: 2pt;
    display: block;
    text-align: left;
    font-size: 0.9em;
    padding-left: 10pt;
}

h1 {
    font-weight: 400;
}

select {
    -webkit-appearance: none;
    /* -moz-appearance: none; */
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-caret-down fa-w-10 fa-3x"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" class=""></path></svg>');
    background-repeat: no-repeat;
    background-position: 94%;
    background-size: 1em;
}

input,
select {
    outline: none;
    appearance: none;
    border: 1px solid #eee;
    width: 100%;
    transition: 0.7s;
    color: #111;
    font: 15px "Segoe UI";
    font-weight: 500;
    padding: 10pt 20pt;
    border-radius: 30px;
    background-color: #f7f7f7;
    margin-bottom: 1.4em;
    display: block;
}

input:focus,
select:focus {
    border-color: #473198;
    outline: 0;
    background-color: #ffffff;
}

.button {
    border-radius: 30px;
    padding: 5pt 10pt;
    border: 1px solid #473198;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.close-button {
    padding: 15px;
}

.button--deep-violet {
    background-color: #473198;
    border: 1px solid #473198;
    color: #fff;
}

.button--tomato {
    background-color: tomato;
    border: 1px solid tomato;
    color: #fff;
}

.button--red {
    background-color: red;
    border: 1px solid red;
    color: #fff;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.go-back::before {
    content: '<<';
}

/************************* END GLOBALS *************************/

/************************* START HEADER *************************/
.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar--color {
    background-color: #473198;
}

.navbar__logo {
    font-size: 2.5rem;
    transition: 0;
    color: #fff;
    text-decoration: none;
}

.navbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: #fff;
}

@media (width: 375px) and (height: 812px) {

    .navbar__inner {
        width: 115%;
    }
}

.navbar__menu {
    display: none;
}

@media (min-width: 992px) {
    .navbar__menu {
        display: block;
    }
}

.navbar__menu li {
    margin-left: 4pt;
    display: inline-block;
}

@media (min-width: 992px) {
    .navbar__menu li {
        margin-left: 16pt;
    }
}

.navbar__menu a {
    color: #fff;
}

@media (min-width: 992px) {
    .navbar__menu-mobile {
        display: none;
    }
}

#toggle svg {
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
}

/************************* END HEADER *************************/

/************************* START HERO *************************/
.hero {
    position: relative;
    width: 100%;
    background-image: url("../img/laptop_on_table.jpeg");
    box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
}

.hero__z-index-one {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.91;
    z-index: 1;
    background-color: #473198;
}

.hero__z-index-one--gradient {
    background: linear-gradient(to right, #473198, #4641ff);
}

.hero__z-index-two {
    position: relative;
    z-index: 2;
}

.hero__body {
    display: flex;
    align-items: center;
    min-height: calc(100vh);
    padding: calc(92px) 0;
    overflow: auto;
}

.hero__body__items {
    width: 100%;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__desc {
    opacity: 0.85;
    line-height: 1.7;
    font-size: 1.5rem;
}

/************************* END HERO *************************/

/************************* START LOGIN *************************/
.login {
    padding-top: 100px;
}

@media (min-width: 992px) {
    .login--reduce {
        padding-top: 70px;
    }
}

.login__inner {
    min-height: calc(100vh - 188px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 992px) {
    .login__inner {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .login__img {
        width: 50%;
    }
}

@media (min-width: 600px) {

    .login__img img {
        max-height: 300px;
    }
}

@media (min-width: 992px) {

    .login__img img {
        max-height: 400px;
    }
}

.login__login {
    text-align: center;
}

@media (min-width: 992px) {
    .login__login {
        width: 50%;
    }
}

.login__title {
    color: #111;
}

/************************* END LOGIN *************************/


/************************* START TRANSACTION *************************/
.transact {
    padding-top: 100px;
}

@media (min-width: 992px) {
    .transact__inner {
        display: flex;
    }
}

@media (min-width: 992px) {
    .transact__menu {
        display: block;
        width: 220px;
        /* flex-shrink: 0; */
        /* border: #111 solid */
    }
}

.transact__menu>ul {
    /* margin-top: -0.65em; */
    padding-left: 0em;
}

.transact__main {
    /* flex-grow: 1; */
}

/*** Vertical Menu ***/
.vertical-menu {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .vertical-menu {
        display: inline-block;
        border-bottom: none;
    }
}

.vertical-menu li {
    display: inline-block;
    width: 50%;
    padding-left: 16pt;
    margin-bottom: 1em;
}

@media (min-width: 992px) {
    .vertical-menu li {
        padding: 0;
        display: block;
        width: auto;
    }
}

.vertical-menu a:hover {
    opacity: 1;
    color: #473198;
    border-bottom: 1px solid #473198;
}

.vertical-menu--active {
    color: #473198;
    font-size: 1.2rem;
    font-weight: 500;
}

/************************* END TRANSACT *************************/

/**************** START TRANSACTION ******************/
.transaction {
    background-color: #e3e3e3;
    margin-bottom: 20px;
    padding: 0 20px 20px;
    border-radius: 15px;
    max-height: fit-content;
    line-height: 0;
    color: #333;
}

.transaction:hover {
    box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
}

@media (min-width: 992px) {
    .transaction {
        min-width: 30%;
    }
}

.transaction__item {
    display: flex;
    justify-content: space-between
}

/**************** END TRANSACTION ******************/

/**************** START MODAL ******************/
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal__content {
    background: #fff;
    max-width: 20%;
    /* min-width: 10%; */
    border-radius: 6px;
    position: relative;
    top: 30%;
    left: 37%;
    padding: 1.5em;
}

@media (max-width: 768px) {
    .modal__content {
        max-width: 60%;
        left: 24%;
    }
}
@media (min-width: 1024px) {
    .modal__content {
        max-width: 30%;
    }
}

.modal-item div:nth-child(odd) {
    background: #d2d0ff;
}

/********** START TABLE ************/
.table-container {
    display: block;
    margin: 2em auto;
    width: 100%;
    max-width: 900px;
}

@media (width: 375px) and (height: 812px) {
    .table-container {
        width: 120%;
    }
}

@media (min-width: 1271px) {
    .table-container {
        width: 200%;
    }
}

.flex-table {
    display: flex;
    flex-flow: row;
    border-left: solid 1px #d9d9d9;
    transition: 0.5s;
}

.flex-table:first-of-type {
    border-top: solid 1px #473198;
    border-left: solid 1px #473198;
}

.flex-table:first-of-type .flex-row {
    background: #473198;
    color: white;
    border-color: #473198;
}

.flex-table.row:nth-child(odd) .flex-row {
    background: #d2d0ff;
}

.flex-table:hover {
    background: #F5F5F5;
    transition: 500ms;
}

.flex-row {
    width: calc(100% / 4);
    text-align: center;
    padding: 0.5em 0.5em;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
}

.column .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: solid 1px #d9d9d9;
}

.column .flex-row:hover {
    background: #F5F5F5;
    transition: 500ms;
}

@media all and (max-width: 767px) {
    .flex-row {
        width: calc(100% / 3);
    }

    .flex-row.first {
        width: 100%;
    }

    .column {
        width: 100%;
    }
}

@media all and (max-width: 430px) {
    .flex-table .flex-row {
        border-bottom: 0;
    }

    .flex-table .flex-row:last-of-type {
        border-bottom: solid 1px #d9d9d9;
    }

    .header .flex-row {
        border-bottom: solid 1px;
    }

    .flex-row {
        width: 100%;
    }

    .flex-row.first {
        width: 100%;
        border-bottom: solid 1px #d9d9d9;
    }

    .column {
        width: 100%;
    }

    .column .flex-row {
        border-bottom: solid 1px #d9d9d9;
    }

    .flex-cell {
        width: 100%;
    }
}

/********** END TABLE ************/